<?include config.wxi ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.ProductName)" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="09646696-D659-4ABD-AE0F-4072ED1FC75D">

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="leosac.ico" SourceFile="leosac.ico" />

    <Feature Id="ProductFeature" Title="$(var.ProductName)" Description="The $(var.ProductName) application" Level="1" AllowAbsent="no">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentGroupRef Id="WinRuntimeComponents" />
      <ComponentGroupRef Id="DependenciesComponents" />
    </Feature>
    <Feature Id="LibLogicalAccessFeature" Title="LibLogicalAccess" Description="The RFID/SmartCard middleware" Level="1" AllowAbsent="no">
      <MergeRef Id="LLAMSM" />
    </Feature>
    <Feature Id="TranslationsFeature" Title="Translations" Description="Available application translations" Level="1">
      <Feature Id="FrenchTranslation" Title="French Translation" Description="The application French translation" Level="1">
        <ComponentGroupRef Id="DependenciesResourcesFR" />
      </Feature>
    </Feature>

    <!-- The about link that appears in Add & Remove Programs. -->
    <Property Id="ARPURLINFOABOUT" Value="$(var.AboutURL)" />
    <!-- The help link that appears in Add & Remove Programs. -->
    <Property Id="ARPHELPLINK" Value="$(var.SupportURL)" />
    <!-- The update link that appears in Add & Remove Programs. -->
    <Property Id="ARPURLUPDATEINFO" Value="$(var.UpdatesURL)" />
    <!-- The icon that appears in Add & Remove Programs. -->
    <Property Id="ARPPRODUCTICON" Value="leosac.ico" />

    <Property Id="ApplicationFolderName" Value="$(var.Manufacturer)\$(var.ProductName)" />
    <Property Id="Platform" Value="$(var.Platform)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id="FindInstallRegDir" Type="raw" Root="HKLM" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="InstallDir" />
    </Property>

    <ui:WixUI Id="WixUI_Advanced" />

    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    <WixVariable Id="WixUIInfoIco" Value="leosac.ico" />
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="COMPANYFOLDER" Name="$(var.Manufacturer)">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
          <Directory Id="RESOURCESFR" Name="fr" />
          <Directory Id="APPRUNTIMES" Name="runtimes">
            <Directory Id="RUNTIMEWIN" Name="win">
              <Directory Id="RUNTIMEWINLIB" Name="lib">
                <Directory Id="RUNTIMEWINNET7" Name="net7.0" />
              </Directory>
            </Directory>
          </Directory>
          <Merge Id="LLAMSM" Language="1033" DiskId="1" SourceFile="$(var.LLAMSMPath)" />
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="APPLICATIONFOLDER">
      <Component Id="InstallRegDir" Guid="$(var.CompInstallRegDir)" DiskId="1">
        <RegistryKey Id="RegInstallDir" Root="HKMU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="InstallDir" Type="string" Value="[APPLICATIONFOLDER]" />
        </RegistryKey>
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerServerComponent">
        <File Id="___var.CredentialProvisioning.Encoding.Worker.Server.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetPath)" />
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerServerExeComponent">
        <File Id="___var.CredentialProvisioning.Encoding.Worker.ServerExe.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.Worker.Server.exe" />
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="$(var.ServiceName)" DisplayName="Leosac Credential Provisioning Encoding Worker Service" Description="The background service for Leosac Credential Provisioning Encoding Worker." Start="auto" ErrorControl="normal" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="$(var.ServiceName)" Wait="yes" />
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerServerDepsComponent">
        <File Id="___var.CredentialProvisioning.Encoding.Worker.Server.deps.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.Worker.Server.deps.json" />
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerServersRuntimeconfigComponent">
        <File Id="___var.LCP.Encoding.Worker.Server.runtimeconfig.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.Worker.Server.runtimeconfig.json" />
      </Component>
      <Component Id="AppSettingsComponent">
        <File Id="___var.appsettings.json.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\appsettings.json" />
      </Component>
      <Component Id="AppSettingsProductionComponent">
        <File Id="___var.appsettings.Production.json.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\appsettings.Production.json" />
      </Component>
      <Component Id="AppSettingsProductionWindowsComponent">
        <File Id="___var.appsettings.Production.Windows.json.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\appsettings.Production.Windows.json" />
      </Component>
      <Component Id="CredentialProvisioningCoreComponent">
        <File Id="___var.CredentialProvisioning.Core.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Core.dll" />
      </Component>
      <Component Id="CredentialProvisioningEncodingComponent">
        <File Id="___var.CredentialProvisioning.Encoding.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.dll" />
      </Component>
      <Component Id="CredentialProvisioningEncodingXmlComponent">
        <File Id="___var.CredentialProvisioning.Encoding.xml.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.xml" />
      </Component>
      <Component Id="CredentialProvisioningEncodingLLAComponent">
        <File Id="___var.CredentialProvisioning.Encoding.LLA.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.LLA.dll" />
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerContractsComponent">
        <File Id="___var.CredentialProvisioning.Encoding.Worker.Contracts.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.Worker.Contracts.dll" />
      </Component>
      <Component Id="CredentialProvisioningEncodingWorkerLLAComponent">
        <File Id="___var.CredentialProvisioning.Encoding.Worker.LLA.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Encoding.Worker.LLA.dll" />
      </Component>
      <Component Id="CredentialProvisioningServerContractComponent">
        <File Id="___var.CredentialProvisioning.Server.Contracts.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Server.Contracts.dll" />
      </Component>
      <Component Id="CredentialProvisioningServerSharedComponent">
        <File Id="___var.CredentialProvisioning.Server.Shared.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Server.Shared.dll" />
      </Component>
      <Component Id="CredentialProvisioningWorkerComponent">
        <File Id="___var.CredentialProvisioning.Worker.dll.TargetPath_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\CredentialProvisioning.Worker.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DependenciesResourcesFR" Directory="RESOURCESFR">
      <Component Id="SystemCommandLineResourcesFRComponent">
        <File Id="___var.System.CommandLine.ResourcesFR_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\fr\System.CommandLine.resources.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DependenciesComponents" Directory="APPLICATIONFOLDER">
      <Component Id="JsonSubTypesComponent">
        <File Id="___var.JsonSubTypes.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\JsonSubTypes.dll" />
      </Component>
      <Component Id="LibLogicalAccessNetComponent">
        <File Id="___var.LibLogicalAccessNet.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\LibLogicalAccessNet.dll" />
      </Component>
      <Component Id="log4netComponent">
        <File Id="___var.log4net.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\log4net.dll" />
      </Component>
      <Component Id="MicrosoftAspNetCoreAuthenticationJwtBearerComponent">
        <File Id="___var.Microsoft.AspNetCore.Authentication.JwtBearer.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.AspNetCore.Authentication.JwtBearer.dll" />
      </Component>
      <Component Id="MicrosoftAspNetCoreOpenApiComponent">
        <File Id="___var.Microsoft.AspNetCore.OpenApi.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.AspNetCore.OpenApi.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsConfigurationBinderComponent">
        <File Id="___var.Microsoft.Extensions.Configuration.Binder.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsHostingComponent">
        <File Id="___var.Microsoft.Extensions.Hosting.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Hosting.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsHostingSystemdComponent">
        <File Id="___var.Microsoft.Extensions.Hosting.Systemd.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Hosting.Systemd.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsHostingWindowsServicesComponent">
        <File Id="___var.Microsoft.Extensions.Hosting.WindowsServices.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsLoggingAbstractionsComponent">
        <File Id="___var.Microsoft.Extensions.Logging.Abstractions.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="MicrosoftExtensionsOptionsComponent">
        <File Id="___var.Microsoft.Extensions.Options.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="MicrosoftIdentityModelJsonWebTokensComponent">
        <File Id="___var.Microsoft.IdentityModel.JsonWebTokens.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.IdentityModel.JsonWebTokens.dll" />
      </Component>
      <Component Id="MicrosoftIdentityModelLoggingComponent">
        <File Id="___var.Microsoft.IdentityModel.Logging.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.IdentityModel.Logging.dll" />
      </Component>
      <Component Id="MicrosoftIdentityModelProtocolsComponent">
        <File Id="___var.Microsoft.IdentityModel.Protocols.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.IdentityModel.Protocols.dll" />
      </Component>
      <Component Id="MicrosoftIdentityModelProtocolsOpenIdConnectComponent">
        <File Id="___var.Microsoft.IdentityModel.Protocols.OpenIdConnect.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.IdentityModel.Protocols.OpenIdConnect.dll" />
      </Component>
      <Component Id="MicrosoftIdentityModelTokensComponent">
        <File Id="___var.Microsoft.IdentityModel.Tokens.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.IdentityModel.Tokens.dll" />
      </Component>
      <Component Id="MicrosoftOpenApiComponent">
        <File Id="___var.Microsoft.OpenApi.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Microsoft.OpenApi.dll" />
      </Component>
      <Component Id="NewtonsoftJsonComponent">
        <File Id="___var.Newtonsoft.Json.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="SwashbuckleAspNetCoreSwaggerComponent">
        <File Id="___var.Swashbuckle.AspNetCore.Swagger.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Swashbuckle.AspNetCore.Swagger.dll" />
      </Component>
      <Component Id="SwashbuckleAspNetCoreSwaggerGenComponent">
        <File Id="___var.Swashbuckle.AspNetCore.SwaggerGen.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
      </Component>
      <Component Id="SwashbuckleAspNetCoreSwaggerUIComponent">
        <File Id="___var.Swashbuckle.AspNetCore.SwaggerUI.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
      </Component>
      <Component Id="SystemCommandLineComponent">
        <File Id="___var.System.CommandLine.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.CommandLine.dll" />
      </Component>
      <Component Id="SystemConfigurationConfigurationManagerComponent">
        <File Id="___var.System.Configuration.ConfigurationManager.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.Configuration.ConfigurationManager.dll" />
      </Component>
      <Component Id="SystemIdentityModelTokensJwtComponent">
        <File Id="___var.System.IdentityModel.Tokens.Jwt.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.IdentityModel.Tokens.Jwt.dll" />
      </Component>
      <Component Id="SystemSecurityCryptographyProtectedDataComponent">
        <File Id="___var.System.Security.Cryptography.ProtectedData.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="SystemSecurityPermissionsComponent">
        <File Id="___var.System.Security.Permissions.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.Security.Permissions.dll" />
      </Component>
      <Component Id="SystemServiceProcessServiceControllerComponent">
        <File Id="___var.System.ServiceProcess.ServiceController.dll_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\System.ServiceProcess.ServiceController.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="WinRuntimeComponents" Directory="RUNTIMEWINNET7">
      <Component Id="SystemServiceProcessServiceControllerWinComponent">
        <File Id="___var.System.ServiceProcess.ServiceController.dll_win_" Source="$(var.CredentialProvisioning.Encoding.Worker.Server.TargetDir)\runtimes\win\lib\net7.0\System.ServiceProcess.ServiceController.dll" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
